.card-bg-primary {
    background : rgb(247 249 250);
}

.card-bg-secondary {
    background : #3e4754;
}

.sidebar-bg-primary {
    background : #f9f9f9;
}


.card-bg-warning {
    background: #e07b24;
}

.card-bg-info {
    background : #989fe6;
}

.card-bg-success {
    background : #81c392;
}