.btn {
    border: 0px;
    background: #131517;
    outline: none;
    cursor: pointer;
    color: #eee;
}

.btn-primary {
    border-radius: 4px;
    margin-right : 8px;
}

.reset-btn {
    border:0px;
    background: transparent;
    outline: none;
    cursor: pointer;
}