.c-white-1{
    color : #fff;
}

.c-white-2 {
    color : #f9f9f9;
}

.c-white-3 {
    color : #eee;
}

.c-black-1 {
    color : #000;
}

.c-black-2 {
    color : #555;
}

.c-warning {
    color : #f9f9f9;
}