@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Roboto&display=swap');

.c-size {
    font-size: 1rem;
}

.c-size-09 {
    font-size: 0.9rem;
}

.c-size-08 {
    font-size: 0.8rem;
}

.c-size-2 {
    font-size: 2rem;
}