.rounded-4 {
    border-radius: 4px;
}

.rounded-8 {
    border-radius: 8px;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-r-t-8 {
    border-top-right-radius: 8px;
}
.rounded-r-b-8 {
    border-bottom-right-radius: 8px;
}

.rounded-l-t-8 {
    border-top-left-radius: 8px;
}

.rounded-l-b-8 {
    border-bottom-left-radius: 8px;
}