@import './assets/fonts.css';
@import './assets/reset.css';
@import './assets/height.css';
@import './assets/flex.css';
@import './assets/padding.css';
@import './assets/button.css';
@import './assets/background.css';
@import './assets/radius.css';
@import './assets/margin.css';
@import './assets/color.css';

body {
    background: rgb(255, 255, 255);
}

.card  {
    box-sizing: border-box;
}

.card-title {
    box-sizing: border-box;
    font-weight: 600;
    font-size:17px;
}

.card-title a {
    color: #131517;
    text-decoration: none;
}

.card-body {
    box-sizing: border-box;
}

.card-body p{
    margin-bottom:8px;
    font-size:14px;
}


.card .card-body ul {
    list-style: none;
}

.card .card-body ul li {
    font-size:14px;
    box-sizing: border-box;
    transition: all ease 0.3s;
    position: relative;
}

.card .card-body ul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;   
}

.card .card-body ul li a{
    text-decoration: none;
    color : #555;
}

.card .card-body ul li:hover {
    background: rgb(234 237 239);
}



@media screen and (max-width: 992px) {
    .flex-container  {
        position: fixed;
        width: 100%;
        left: 0px;
        top: 0px;
        height: 90%;
        overflow: auto;
        display: block !important;
    }
    .left-side {
        width: 100% !important;
        z-index: 99;
        box-sizing: border-box;
        bottom:0px;
        height:10% !important;
    }

    .left-side .navbar {
        padding:0rem !important;
        padding-top:0.5rem !important;
        background: #131517;
        align-items: center;
    }

    .left-side .navbar .nav-logo {
        display: none !important;
    }

    .left-side .navbar a {
        padding-right:0.3rem !important;
    }

    .left-side .navbar a .text {
        display:none;
    }
    .left-side .navbar a .fab {
        box-sizing: border-box;
    }

    .left-side .navbar .publish-nav {
        display: none !important;
    }

    .middle-side , .right-side {
        margin-left: 0!important;
        width: 100% !important;
        flex-basis: auto !important;
    }

    .upcoming-area {
        padding : 10rem 1rem!important;
    }

    .upcoming-area button {
        width: auto !important;
    }


  }
